@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: calc(8.9%);
  height: calc(100%);
  background: #ffffff;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.menu1 {
  width: calc(99.9%);
  height: calc(10%);
  background: #ffffff;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}

.menut {
  z-index: 2;
  position: absolute;
  top: -1%;
  left: 1%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #f78c46,
    #efab52,
    #f3c07e,
    #ffffff,
    #f3c07e,
    #efab52,
    #f78c46
  );
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo {
    left: calc(45%);
    position: absolute;
    top: 95px;
    color: black;
    font-size: 22px;
  }

  .Dev h2 {
    color: black;
    position: absolute;
    left: calc(46.5%);
    top: 200px;
  }

  .DevQ {
    width: calc(50%);
    height: 250px;
    background: transparent;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: absolute;
    left: calc(26.5%);
    top: 200px;
  }

  .lorranI {
    position: absolute;
    left: calc(28%);
    top: calc(30%);
  }

  .lorranN {
    position: absolute;
    left: calc(28%);
    top: calc(25%);
  }

  .lorranT {
    position: absolute;
    left: calc(110%);
    top: calc(0%);
    font-style: italic;
    width: calc(200%);
    text-align: center;
    color: #333;
  }

.DanielI {
  position: absolute;
  left: calc(55.5%);
  top: calc(30%);
}

.DanielN {
  position: absolute;
  left: calc(58%);
  top: calc(25%);
}

.DanielT {
  position: absolute;
  left: calc(110%);
  top: calc(-20%);
  font-style: italic;
  width: calc(230%);
  text-align: center;
  color: #333;
}

.Des h2 {
    color: black;
    position: absolute;
    left: calc(42.5%);
    top: 500px;
  }

  .DesQ {
    width: calc(50%);
    height: 250px;
    background: transparent;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: absolute;
    left: calc(26.5%);
    top: 500px;
  }

  .gargamelI {
    position: absolute;
    left: calc(28%);
    top: calc(60%);
  }

  .gargamelN {
    position: absolute;
    left: calc(28%);
    top: calc(55%);
  }

  .gargamelT {
    position: absolute;
    left: calc(110%);
    top: calc(0%);
    font-style: italic;
    width: calc(200%);
    text-align: center;
    color: #333;
  }

.annaI {
  position: absolute;
  left: calc(55.5%);
  top: calc(60%);
}

.annaN {
  position: absolute;
  left: calc(58%);
  top: calc(55%);
}

.annaT {
  position: absolute;
  left: calc(110%);
  top: calc(-20%);
  font-style: italic;
  width: calc(230%);
  text-align: center;
  color: #333;
}

.name {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  position: absolute;
  left: 10%;
  top: -5.5%;
  z-index: 2;
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    #f78c46,
    #efab52,
    #f3c07e,
    #ffffff,
    #f3c07e,
    #efab52,
    #f78c46
  );
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topico h3 {
    font-family: "Poppins", sans-serif;
    top: 50px;
    left: calc(1.1%);
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: rgb(46, 46, 46);
  }
  

.options li {
    font-family: "Poppins", sans-serif;
    top: -70px;
    left: calc(-1.1%);
    position: relative;
    z-index: 2;
    font-size: 15px;
    width: calc(7.5%);
  }
  
  .options a {
    color: rgb(46, 46, 46);
    text-decoration: none;
  }
  
  .creditosN h3 {
    font-family: "Poppins", sans-serif;
    top: 315px;
    left: calc(1%);
    width: 250px;
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: rgb(46, 46, 46);
  }
  
  .insta li {
    font-family: "Poppins", sans-serif;
    top: 300px;
    left: calc(0%);
    position: relative;
    z-index: 2;
    font-size: 15px;
    width: calc(8%);
  }
  
  .insta a {
    color: rgb(46, 46, 46);
    text-decoration: none;
  }

  .invisible {
    width: calc(91.4%);
    height: calc(100%);
    background-color: solid transparent;
    position: absolute;
    left: calc(8.6%);
    top: 0px;
    z-index: 2;
  }

  .copyrightC p {
    position: absolute;
    bottom: 3%;
    left: calc(0.1%);
    width: 150px;
    z-index: 2;
  }
  
  .copyrightT p {
    position: absolute;
    bottom: 0%;
    left: calc(0.1%);
    width: 208px;
    z-index: 2;
  }
  
  .creditos {
    bottom: calc(0%);
    right: calc(1%);
    position: absolute;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(
      45deg,
      #f78c46,
      #efab52,
      #f3c07e,
      #ffffff,
      #f3c07e,
      #efab52,
      #f78c46
    );
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes degrade {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  
  .button2 {
    left: calc(10%);
    top: calc(12.5%);
    display: inline-block;
    transition: all 0.2s ease-in;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 14px;
    border-radius: 0.5em;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f78c46;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #f78c46;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #f78c46;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #f78c46;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }