body {
    background-image: url(imagens.img/O-que-e-Saude-Mental-mitos-e-verdades.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

.texto {
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  24px 24px 48px #a6a6a6,
               -24px -24px 48px #ffffff;
  }