body {
    background-color: white;
  }

.texto1 {
position: absolute;
top: 200px;
border-radius: 7px;
background: #EEEEEE;
box-shadow:  35px 35px 70px #BDBDBD,
             -35px -35px 70px #BDBDBD;
}
.texto2 {
  position: absolute;
  top: 300px;
  border-radius: 7px;
  background: #EEEEEE;
  box-shadow:  35px 35px 70px #BDBDBD,
               -35px -35px 70px #BDBDBD;
  }.texto3 {
    position: absolute;
    top: 400px;
    border-radius: 7px;
    background: #EEEEEE;
    box-shadow:  35px 35px 70px #BDBDBD,
                 -35px -35px 70px #BDBDBD;
    }.texto4 {
      position: absolute;
      top: 500px;
      border-radius: 7px;
      background: #EEEEEE;
      box-shadow:  35px 35px 70px #BDBDBD,
                   -35px -35px 70px #BDBDBD;
      }.texto5 {
        position: absolute;
        top: 600px;
        border-radius: 7px;
        background: #EEEEEE;
        box-shadow:  35px 35px 70px #BDBDBD,
                     -35px -35px 70px #BDBDBD;
        }.texto6 {
          position: absolute;
          top: 700px;
          border-radius: 7px;
          background: #EEEEEE;
          box-shadow:  35px 35px 70px #BDBDBD,
                       -35px -35px 70px #BDBDBD;
          }.texto7 {
            position: absolute;
            top: 830px;
            border-radius: 7px;
            background: #EEEEEE;
            box-shadow:  35px 35px 70px #BDBDBD,
                         -35px -35px 70px #BDBDBD;
            }.texto8 {
              position: absolute;
              top: 950px;
              border-radius: 7px;
              background: #EEEEEE;
              box-shadow:  35px 35px 70px #BDBDBD,
                           -35px -35px 70px #BDBDBD;
              }

 
 
              .titulo {
              position: absolute;
              border-bottom: 1px solid black;
              }
              .cabeçalho {
              position: absolute;  
              top: 70px;
              
              } 